
body{
    /* background-color: #000010; */
    background-image: url("https://i.pinimg.com/originals/33/d5/f1/33d5f1c660d982c5e7b678e96306097d.jpg");
    /* background-blend-mode:  ; */
    background-size: cover;
  
}
.header 
{
    background-color: thistle;
    
    display: flex;
    margin-top: 2%;
    justify-content: center;
    text-shadow: green;
    border-radius: 10px;
    border: inset whitesmoke;
    margin:2%;
}
.bb{
    
    background-repeat: no-repeat;
     display: grid;
     grid-column: 1;
     grid-auto-flow: row;
     position: fixed center;
     justify-content: center;        
    
}
.containe{
  
    background-blend-mode: luminosity;
    background: gainsboro ;
    opacity: 70%;
    width:  360px ;
    height: 360px ;
   border:  5px black solid inset;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 15%;
    margin-bottom: 10%;
     
   
}
h6{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
}
.btn
{
    display: flex;
   width:360px;
   flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 5%;
    column-gap: 40px;
    opacity: 80%;
    
}
.box{   
    box-sizing: border-box;
    height:40px ;
    width: 40px ;
    border: 1px black solid;
    border-radius: 10px;
    background-color: rgb(241, 255, 241);
    text-align: center;
    text-decoration-color: black;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    
}

.boxt{
     
    border-top: 4px black solid;
    background-color: rgb(241, 255, 241);
    display: flex;
    justify-content: center;
    justify-items: center;
}
.rowl{
 
    border-left: 4px black solid;
    background-color: rgb(241, 255, 241);
}
.rowr{
    
   
    border-right: 4px black solid;
    background-color: rgb(241, 255, 241);
}
.boxl{
     
  
    border-bottom: 4px black solid;
    background-color: rgb(241, 255, 241);
}
